body {
  text-align: center;
}

.memory-game {
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  font-family: "Courier";
}

.game-header {
  font-size: 50px;
  text-align: center;
}

.game-intro-header {
  max-width: 600px;
  font-size: 30px;
}

.game-intro {
  max-width: 600px;
  font-size: 20px;
}

.button-board {
  max-width: 250px;
  text-align: center;
  border-radius: 25px;
  background-image: radial-gradient(#AAAAAA, #222222);
  width: 75%;
  display: inline-block;
}

.game-button {
  border-radius: 5px;
	display: inline-block;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 55px;
  height: 55px;
}

.game-message {
  font-size: 20px;
  font-weight: bold;
}

.state-button {
  font-weight: bold;
  border-radius: 5px;
	display: inline-block;
  padding: 10px;
  background: #222222;
}